
@media only screen and (min-width: 600px) {
    .post {
     width: 65%;
    }
  }

  @media only screen and (max-width: 601px) {
    .post {
     width: 100%;
    }
  }



.post {
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    /* max-width: 500px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


.post_top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post_avatar {
    margin-right: 10px;
}

.post_topInfo > h3 {
    font-size: medium;
}

.post_topInfo > p {
    font-size: small;
    color: gray;
}

.post_bottom {
    margin: 25px;
    width: 90%;
    height: auto;

}


.post_image  > img{
    width: 100%;
    height: auto;
}



