@media only screen and (max-width: 450px) {
    .feed {
     width: 100%;
    }
  }

  @media only screen and (min-width: 401px) and (max-width: 700%) {
    .feed {
     width: 80%;
    }
  }

  @media only screen and (min-width: 701%) {
    .feed {
     width: 50%;
    }
  }

