.SidebarRow {
    display: flex;
    align-items:flex-start;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    width: 250px;
}

.SidebarRow:hover {
    background-color: lightgray;
    border-radius: 10px;
    transform:  scale(1.07);
}

.SidebarRow > p {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: lowercase;
    color: gray;
}

.SidebarRow > p::first-letter {
  
    text-transform: uppercase;
}


